<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.xumin.myplugindemo2">

    <application
        android:name=".PlugAPp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:allowBackup">
        <!--插件名称,即下文的pluginName-->
        <meta-data
            android:name="com.qihoo360.plugin.name"
            android:value="inner"/>
        <!--插件版本-->
        <meta-data
            android:name="com.qihoo360.plugin.version.ver"
            android:value="1"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>